body {
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background-color: rgb(235, 236, 231);
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  color: #555;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto 30px;
  line-height: 1.6;
  text-align: center;
}

.box {
  padding: 20px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

#joke {
  margin-top: 25px;
  font-size: 18px;
  color: #444;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 10px 0;
  font-size: 14px;
  color: #888;
  border-top: 1px solid #eee;
}
